
<div class="copy-content">
<div class="copy">
	


<%= render :partial=>"signin_form", :locals=>{:show_signup_link=>false} %>


<h1>Sign in to view your stats</h1>
	<p>Don't have an account? <a href="/signup/">Sign up for one in seconds &raquo;</a></p>
</div>
</div>

</div></div>