*{
  margin:0;
  padding:0;
}

html,body{
  /*height:90%;*/
}
body{
  margin-top:15px;
  font-size:1em;
  /*font-size:100%;*/
  font-family: bitstream-vera-sans, Arial, Helvetica, sans-serif;
  background-color:white;
  max-width:800px;
  min-width:690px;
  margin-left:auto;
  margin-right:auto;
}
a{
  color:#617ca9;
  color:#4e6387;
}
a:hover{
  color:#021a41;  
}
input,select{
  padding:2px;
}
table,img{ border:0;}
#page{
  margin-left:20px;
  margin-right:20px;
}

#header{
  height:80px;
  border-bottom:1px solid #c6c6c6;
/*
  position:relative;
*/
  /*margin-bottom:20px;*/
  }
#content{
  width:100%;
  /*position:relative;*/
  /*text-align:center;*/
  min-height:320px;
  
}
#content-right{
  margin-top:20px;
  padding-left:10em;  
}
#footer{
/*  margin-top:20px;*/
  padding-top:20px;
  clear:both;
  text-align:center;
	margin-bottom:10px;
}

/*.dialog .hd {  background:#fbeac8 url(/images/d/tl.gif) no-repeat 0px 0px;}
.dialog .hd .c {  background:transparent url(/images/d/tr.gif) no-repeat right 0px;  }
.dialog .bd { background:#fbeac8 none repeat-y 0px 0px; }
.dialog .bd .c { background:#fbeac8 none repeat-y right 0px; }
.dialog .ft .c, .dialog .hd .c { height:10px;  }
.dialog .ft {  background:#fbeac8 url(/images/d/bl.gif) no-repeat 0px 0px;}
.dialog .ft .c { background:transparent url(/images/d/br.gif) no-repeat right 0px;}
.dialog .bd .c{  background-color:#fbeac8; }*/

b{font-weight:normal; display:block; }


/*
 * A regular sized dialog box
 */
.d .hd, .d .ft { position:relative;}
.d .hd { background:#fbeac8 url(/images/d/tan.gif) no-repeat -10px -10px; 	}
.d .hd .c {  background:transparent url(/images/d/tan.gif) no-repeat 0px -10px; }
.d .bd { background:#fbeac8 none repeat-y 0px 0px; }
.d .ft .c, .d .hd .c, .d .hd, .d .ft { height:10px; font-size:1px; }
.d .ft .c, .d .hd .c { 	width:10px; position:absolute; right:-1px; }
.d > .ft .c, .d > .hd .c { right:0px; }	/* correct -1 used for IE */
.d .ft {  background:#fbeac8 url(/images/d/tan.gif) no-repeat -10px 0px;}
.d .ft .c { background:transparent url(/images/d/tan.gif) no-repeat 0 0px;  }

/*
 * A regular sized dialog box
 */
.d2 .hd, .d2 .ft { position:relative;}
.d2 .hd { background:#f2f2f2 url(/images/d/gray.gif) no-repeat -10px -10px; 	}
.d2 .hd .c {  background:transparent url(/images/d/gray.gif) no-repeat 0px -10px; }
.d2 .bd { background:#f2f2f2 none repeat-y 0px 0px; }
.d2 .ft .c, .d2 .hd .c, .d2 .hd, .d2 .ft { height:10px; font-size:1px; }
.d2 .ft .c, .d2 .hd .c { width:10px; position:absolute; right:-1px; }
.d2 > .ft .c, .d2 > .hd .c { right:0px; }	/* correct -1 used for IE */
.d2 .ft {  background:#f2f2f2 url(/images/d/gray.gif) no-repeat -10px 0px;}
.d2 .ft .c { background:transparent url(/images/d/gray.gif) no-repeat 0 0px;  }

#logo{
	width:100px;
	float:left;
/*	width:100px;
	float:left;*/
}
#rhs{
	float:right;
}
#header-container{
	float:right;
}

/*.small-dialog div{
	display:inline;
}*/
#header-menu{
  right:20px; 
  /*top:22px;*/
  /* This should sit on the same baseline as the logo.*/
  bottom:32px;
	float:right;
	margin-top:16px;
  /* Should be equal to whatever the table's right margin is*/ 
	margin-right:20px;
  background-color:#fff9ed;
  background-color:#fbeac8;
  /*background-color:#fdf1d8;*/
}
#header-menu ul{
  /*display:block;*/
  /*height:1.2em;*/
  
  position:static;
}

#header-menu table{
	border-collapse:collapse;

}

#header-menu li{
  /*padding:2px;*/
  display:inline;
  /*margin-right:4px;*/
  /*font-weight:bold;*/
  /*border:1px solid blue;*/
  float:left;
  /*margin-right:5px;*/

}
#header-menu a{
  /*border:1px solid blue;*/
  padding: 1px 10px 1px 10px;
  border-right:1px solid #b89c65;

  /*border:1px solid #fbeac8;*/
  display:block;
  /*width:100px;*/
}
#header-menu a:hover{
  background-color:#f2d9ab;
  background-color:#e7cea2;
  background-color:#efd39e;
  /*background-color:#d7bb86;
  background-color:#dfc89d;*/
  /*border-top:1px solid #c19f5f;
  border-bottom:1px solid #c19f5f;*/
}
#header-menu .last{
  margin-right:0px;
  border-right:0;
}
.small-dialog  .hd {  background:#fbeac8 url(/images/d/menutl.gif) no-repeat 0px 0px; }
.small-dialog  .hd .c {  background:transparent url(/images/d/menutr.gif) no-repeat right 0px; }
.small-dialog  .bd { background:#fbeac8 none repeat-y 0px 0px;}
.small-dialog  .bd .c { background:#fbeac8 none repeat-y right 0px; }
.small-dialog  .ft .c, .small-dialog .hd .c { height:5px; font-size:1px;

 }
.small-dialog  .ft {   background:#fbeac8 url(/images/d/menubl.gif) no-repeat 0px 0px;}
.small-dialog  .ft .c {background:transparent url(/images/d/menubr.gif) no-repeat right 0px;


}
.small-dialog  .bd .c{  background-color:transparent; padding-left:6px; padding-right:6px;

}

/* Page level notification messages*/
.notification{
	text-align:center;
	color:#C60F14;
	color:#FF723B;
	padding-top:3px;
}

/* encloses the whole bottom part. Don't use for project pages.*/
.copy-content{
  padding-top:20px;
  padding-top:15px;
}

/* page-level stuff */
.copy{
  line-height:160%;
  margin-right:20px;
}
.copy h1{
  font-size:1.8em;
  font-weight:normal;
  /*margin-bottom:10px;*/
  margin-top:10px;
	margin-bottom:8px;
}
.copy h2{
  font-size:1.2em;
  font-weight:normal;
}
.copy ol{
  /*margin-top:10px;*/
  margin-bottom:10px;
}
.copy li{
  margin-left:40px;
}
.copy p{
/*  padding-top:12px;*/
  margin-top:12px;
  margin-bottom:8px;
/*  padding-bottom:8px;*/
}

/*
 * Used to wrap the big block link buttons
 */
.intro-links .linkbox{
  white-space:nowrap;
  float:left;
}


/*
 * Boxed links
 */
a.linkbox{
/*  padding:20px;*/
  padding:4px 0 5px 0;
  margin:10px;
  margin-right:5px;
  margin-left:5px;
  display:block;

  float:left;
  border:1px solid #edd7ab;
  background-color:#fffae8;
  padding-left:4px;
  padding-right:4px;
/*padding:20px;*/
/*	  line-height:160%;*/
	line-height:100%;
}
a.linkbox:hover{
  background-color:#fbf0c8;
}

/*
 * Text forms
 */
 
/* a form that's aligned on the left; it should be indented some*/
.left_form{
  margin-left:3px;  
/*  display:table;*/
}
.centered_form{
  display:table;
  margin-left:auto;
  margin-right:auto;
}
.text-form input, .text-form textarea{
  border:1px solid #b89c65;
  display:block;  
/*  margin-bottom:8px;*/
}
.text-form input:focus{
  background-color:#fffae8;
}
.text-form .example{
  font-size:.8em;
  color:#666666;
}
.form_error{
  color:#d75b5c;
  color:#ef6f22;
  /*background-color:#f9f2c4;*/
}
.warning{
  background-color:#fdde88;
  padding:5px;
  border:2px dashed #ff9e61;
  border:2px dashed #bbbbbb;
  margin-top:6px;
  margin-bottom:6px;
}
.button_area{
  padding-top:7px;
  /*text-align:right;*/
  text-align:center;
}
.submit{
  /*font-weight:bold;*/
  font-size:1em;
}


/* 
 * Sign in
 */
#signin-box{
  float:right;
  /* offset the margins that the dialog box brings, so we line up with the other header*/
  margin-top:-9px;  
  margin-left:10px;
  /*width:12em;*/
	/*width:50%;*/
/* width:12em; */
}
#signin-box .button_area{
	text-align:left;
}

#signin-box h1{
  margin-top:0px;
/*  margin:0px;*/
}
#signin-box .field{
  width:13em;
}
#signin-box .d .bd .c{
  padding: 2px 8px 0 8px;
  /*padding-left:5px;padding-right:5px;*/
}
#signin-box .form_error{
  width:200px;
}

/* 
 * Sign up
 */
#signup-cost{
  float:right;
  width:60%;
}

#signup-cost #letmeknow{
  background-color:#e4eaf4;
  margin-top:5px;
  padding-left:3px;
  
}
#letmeknow input{
  /*vertical-align:0%;*/
  margin-top:.4em;
  position:absolute;
}
#letmeknow div{
  margin-left:1em;
}
#signup-fields{
  /*width:200px;*/
  float:left;  
}

#signup_form .form_error{
  width:200px;
}

/*
 * Code page
 */

/* right side of the code form */
.code_right{
  float:right;
  width:13em;
  margin-left:15px;
  background-color:#fffae8;
  padding-left:10px;
  padding-right:5px;
}
textarea.code_box{
  background-color:#F6F6F6;
}

/*
 * "All projects" page
 */


