.graph-cell div div{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/c/table-graph.png', sizingMethod='crop');
}

.chart .label_box li{
  height:1px;
}

.chart-image{
  display:none;
}
.chart-image_div{
  position:absolute;
  display:block;
  font-size:1px;
}
.chart-filler{
  font-size:1px;
}

/*
 * transparent pngs
 */
.chart-frame{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/c/circle.png', sizingMethod='crop');
}
.linegraph-dot{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/c/dot.png', sizingMethod='crop');
}
.linegraph-dot:hover{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/c/dotm.png', sizingMethod='crop');
}