.graph-cell div div{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/c/table-graph.png', sizingMethod='crop');
}

.chart .label_box li{
  height:1px;
}

.chart_image{
  display:none;
}
.chart_image_div{
  position:absolute;
  display:block;
  font-size:1px;
}
.chart_filler{
  font-size:1px;
}

/*
 * transparent pngs
 */
.chart_frame{
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/c/circle.png', sizingMethod='crop');
}