<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Wireframe</title>
<%= stylesheet_link_tag "project" %>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "effects"
 %>
<%= javascript_include_tag "project" %> 

<script type="text/javascript">
  page.activeSection = "<%= @preferences.panel%>";
  
  referersTotalData=[<%= @referers_total -%>];
  referersUniqueData=[<%= @referers_unique -%>];
  referersRecentData=[<%= @referers_recent -%>];
  
  hitsWeekData=[<%= @hits_week %>];
  hitsMonthData=[<%= @hits_month %>];
  
  
</script>

<!--[if lt IE 7.]>
<%= stylesheet_link_tag "main-ie" %>
<%= stylesheet_link_tag "project-ie" %>
<![endif]-->

<!-- styles for vertical centering-->
<!--[if IE]>
  <style type="text/css">
  .outer2{position:absolute;height:100%;}
  .outer {height: 100%; position:relative;}
  .middle {position: absolute; top: 50%;}
  .inner { position: relative;top: -50%;}
  </style>
<![endif] -->
<!--[if gt IE 6]>
<style type="text/css">
  .middle{width:100%;}
</style>
<![endif]-->
<![if !IE]>
<style>
.outer{ display: table; height: 98%;}
.middle {display: table-cell;vertical-align: middle;
}
</style>
<![endif]>



</script>


</head>


<body  >
<!--
  onload="populate();
-->

<div id="page">
<div id="header">
  <img src="/images/logo.png"/>
</div>

<div id="content">
  <div id="project-menu">Viewing stats for <span id="project-id">InstallPad</span>. 
    <a href="">Setup</a> | <a href="">View another</a>
  </div>
  
  <div id="menu">
    <ul id="menu-links">
    <%= render :partial=>"menu_entry", :locals=>{:title=>"glance",:d=>"At a glance"} %>    
    <%= render :partial=>"menu_entry", :locals=>{:title=>"hits",:d=>"Hits"} %>    
    <%= render :partial=>"menu_entry", :locals=>{:title=>"referers",:d=>"Referers"} %>    
    <%= render :partial=>"menu_entry", :locals=>{:title=>"pages",:d=>"Pages"} %>    
    <%= render :partial=>"menu_entry", :locals=>{:title=>"searches",:d=>"Searches"} %>    
    <%= render :partial=>"menu_entry", :locals=>{:title=>"details",:d=>"Details"} %>    
    </ul>
  </div>

  <div id="content-right">
    
    
    <div id="glance" class="section" <%=panel_style("glance")-%> >
          <img src="/images/h/glance.png" class="panel_title"/>        
          
          
          <div class="chart">          
            <div id="chart"></div>
            <!-- 
            
            -->
            <div class="chart_frame"></div>    
          </div>
                
          
          <br clear="both"/>
    </div>
    
    <div id="hits" class="section" <%=panel_style("hits")-%> >
      <img src="/images/h/details.png" class="section_title"/>  
      <div class="panel_links">
        Show: 
        <%= render :partial=>"navlink", :locals=>{:s=>"hits",:v=>"today",:d=>"Today"} %> | 
        <%= render :partial=>"navlink", :locals=>{:s=>"hits",:v=>"week",:d=>"Week"} %> | 
        <%= render :partial=>"navlink", :locals=>{:s=>"hits",:v=>"month",:d=>"Month"} %> | 
        <%= render :partial=>"navlink", :locals=>{:s=>"hits",:v=>"total",:d=>"Total"} %> 
  
        
      </div>
      <!-- <div class="side left"> <div id="line_graph" class="line_graph"></div>    </div>
      <div class="side right">     
      -->
        <%= render :partial=>"panel", :locals=>{:p=>"hits",:v=>"today",:c=>"date"} %>
        <%= render :partial=>"panel", :locals=>{:p=>"hits",:v=>"week",:c=>"date"} %>
        <%= render :partial=>"panel", :locals=>{:p=>"hits",:v=>"month",:c=>"date"} %>
        <%= render :partial=>"panel", :locals=>{:p=>"hits",:v=>"total",:c=>"date"} %>
        
      
      
            <br clear="both"/>
    </div>
  
    <div id="referers" class="section" <%=panel_style("referers")-%> >
      <img src="/images/h/details.png" class="section_title"/>  
            <div class="panel_links">
              <span class="navlink_show">Show:</span>
              <%= render :partial=>"navlink", :locals=>{:s=>"referers",:v=>"recent",:d=>"Most recent"} %> | 
              <%= render :partial=>"navlink", :locals=>{:s=>"referers",:v=>"unique",:d=>"Latest unique"} %> | 
              <%= render :partial=>"navlink", :locals=>{:s=>"referers",:v=>"total",:d=>"Totals"} %>
            </div>
            
            <%= render :partial=>"panel", :locals=>{:p=>"referers",:v=>"recent",:c=>"links"} %>
            <%= render :partial=>"panel", :locals=>{:p=>"referers",:v=>"unique",:c=>"links"} %>
            <%= render :partial=>"panel", :locals=>{:p=>"referers",:v=>"total",:c=>"links"} %>
            
      <br clear="both"/>
  
    </div>
    
    <!-- <img src="/project/lag/"/> -->
    
    <div id="pages" class="section" <%=panel_style("pages")-%> >
      <img src="/images/h/details.png" class="panel_title"/>  
      <br clear="both"/>
    </div>
    
    <div id="searches" class="section" <%=panel_style("searches")-%> >
      <img src="/images/h/details.png" class="panel_title"/>  
      <br clear="both"/>
    </div>
    
    <div id="details" class="section" <%=panel_style("details")-%> >
      <img src="/images/h/details.png" class="panel_title"/>  
      <br clear="both"/>
    </div>
 
  

  </div>
  <div id="footer">
      &copy; ourname 2006
  </div>  

</div>

</div>



</body>
</html>