<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Wireframe</title>

<%= stylesheet_link_tag "main" %>

<%= yield :head %>

</head>

<body>

<div id="page">
  <div id="header">
    <a href="/"><img src="/images/logo.png" id="logo"/></a>
    <div id="header-menu" class="small-dialog">
      <div class="dialog"><div class="hd"><div class="c"></div></div><div class="bd">
      <div class="c">
        <ul>
          <li><a href="">Sign in</a></li>
          <li class="last"><a href="">About</a></li>
        </ul>      
      <br clear="both"/>  
      </div></div><div class="ft">
      <div class="c"></div></div></div>
    </div>
  </div>  
  
  <div id="content">
  
  <%= yield :layout %>
  
  </div>
  
  <div id="footer">
      <span id="copyright">&copy; 2006 Breadcrumbs</span>
  </div>  

</div>



</body>
</html>
