<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>
<% @title ?  @title + " - Breadcrumbs" : "Breadcrumbs"%>
<%= @title ?  @title : "Breadcrumbs"%>
</title>

<%= stylesheet_link_tag "main" %>
<!--[if lt IE 7.]>
<%= stylesheet_link_tag "main-ie" %>
<![endif]-->

<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "preload" %>
<%= javascript_include_tag "lowpro" %>
<%= javascript_include_tag "application" %>

<%= yield :head %>

</head>

<body>

<div id="page">
  <div id="header">   

    <div id="logo">
    <a href="/"><img src="/images/logo.gif" alt="logo" /></a>
    </div>
<!--	<div id="header-container">-->



    <div id="header-menu" class="small-dialog">

	<table><tr><td>
      <div class="small-dialog"><div class="hd"><div class="c"></div></div><div class="bd">
      <div class="c">
	<table><tr><td>
	 <% if @account && !@account.demo? %>
	  <li><a href="/signout">Sign out</a></li>
	  <% end %>         
          <td><a href="/project/all">My projects</a></td>
          <td><a href="" class="last">About</a></td>
	</tr></table>
 
      </div></div><div class="ft">
      <div class="c"></div></div></div>
	</td></tr></table>

  </div>  
  </div>
  <div id="content">
  
  <%= yield :layout %>
  
  </div>

  
  <% #if this is the project page, show the offset footer %>
  <div id="footer<%=@title.starts_with?("Stats") ? "-project" : ""%>">
      <span id="copyright">&copy; 2007 Breadcrumbs</span>
  </div>

</div>



</body>
</html>
